<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>SCM Management System</title>

    <link rel="stylesheet"
          href="/static/style.css">

</head>

<script src="/static/script.js"></script>

<body>

    <div class="sidebar">

        <div class="logo">
            SCM SYSTEM
        </div>

        <a href="/">
            Dashboard
        </a>

        <a href="/inventory">
            재고관리
        </a>

        <a href="/inbound">
            입출고관리
        </a>

        <a href="/purchase">
            구매관리
        </a>

    </div>


    <div class="main">

        {% block content %}

        {% endblock %}

    </div>


</body>

</html>